.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 3px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #3074AE;
    text-decoration: none;
}
.wpview ul {
    list-style-type: none;
}
.wpview ul li {
    float: left;
    width: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    height: 150px;
    overflow: hidden;
}
.wpview ul li img{
    width: 180px;
}
.ml140{
    margin-left: 140px;
}
.mt200{
    margin-top: 200px;
}
.error¡ªinfo{
    color: RED;
}

/* gotop */
.goToTop{width:60px;text-indent:-999em;cursor:pointer;position:fixed;_position:absolute;right:50%;bottom:60px;margin:0 -560px 0 0;display:none;}
.goToTop a{display:block;width:60px;height:60px;background:url("/public/image/head.png") no-repeat;}
.goToTop a.toTop:link,.goToTop a.toTop:visited{background-position:-47px -75px;}
.goToTop a.toTop:hover,.goToTop a.toTop:active{background-position:-117px -75px;}



